@model IEnumerable<IGrouping<string, Blog.Models.Articles>>
<div class="fenlei">
    <h2>文章分类</h2>
    <ul id="articleType">
    <!--<li><a href="/">学无止境（33）</a></li>
        <li><a href="/">日记（19）</a></li>
        <li><a href="/">慢生活（520）</a></li>
        <li><a href="/">美文欣赏（40）</a></li>-->
        @foreach (var item in Model)
        {
            <li><a href="/Home/Article?type=@item.Key">@item.Key (@item.Count())</a></li>
        }
    </ul>
</div>
