<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>博客后台管理系统</title>
    <link href="~/OpenSource/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/template.css" rel="stylesheet" />
    <script src="~/OpenSource/layui/layui.js"></script>
</head>
<body>
    <div>
        <!-- 内容主体区域 -->
        @RenderBody()
    </div>
</body>
</html>
